<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="mini_amr">


  <!-- ========================= -->
  <!-- Root Frame -->
  <!-- ========================= -->

  <link name="base_footprint"/>


  <!-- ========================= -->
  <!-- Main Body -->
  <!-- ========================= -->

  <link name="base_link">

    <visual>
      <geometry>
        <box size="0.8 0.6 0.2"/>
      </geometry>

      <origin xyz="0 0 0.1"
              rpy="0 0 0"/>

      <material name="blue">
        <color rgba="0 0.3 1 1"/>
      </material>

    </visual>

  </link>


  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>



  <!-- ========================= -->
  <!-- Wheels -->
  <!-- ========================= -->


  <xacro:macro name="wheel" params="name x y">

    <link name="${name}">

      <visual>

        <geometry>
          <cylinder radius="0.1" length="0.05"/>
        </geometry>

        <origin xyz="0 0 0"
                rpy="1.5708 0 0"/>

        <material name="black">
          <color rgba="0.05 0.05 0.05 1"/>
        </material>

      </visual>

    </link>


    <joint name="${name}_joint" type="continuous">

      <parent link="base_link"/>
      <child link="${name}"/>

      <origin xyz="${x} ${y} 0"
              rpy="0 0 0"/>

      <axis xyz="0 1 0"/>

    </joint>


  </xacro:macro>



  <!-- Front Wheels -->

  <xacro:wheel 
    name="front_left_wheel"
    x="0.3"
    y="0.35"/>


  <xacro:wheel
    name="front_right_wheel"
    x="0.3"
    y="-0.35"/>


  <!-- Rear Wheels -->

  <xacro:wheel
    name="rear_left_wheel"
    x="-0.3"
    y="0.35"/>


  <xacro:wheel
    name="rear_right_wheel"
    x="-0.3"
    y="-0.35"/>

  <!-- ========================= -->
  <!-- LiDAR Sensor -->
  <!-- ========================= -->

  <link name="laser_link">

    <visual>

      <geometry>
        <cylinder radius="0.06" length="0.08"/>
      </geometry>

      <origin xyz="0 0 0.04"
              rpy="0 0 0"/>

      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>

    </visual>

  </link>


  <!-- LiDAR Fixed Joint -->

  <joint name="laser_joint" type="fixed">

    <parent link="base_link"/>

    <child link="laser_link"/>

    <origin xyz="0 0 0.25"
            rpy="0 0 0"/>

  </joint>

</robot>
